/1MV16CS057/Staff Information/nbproject/private/
/1MV16CS057/Staff Information/build/
/1MV16CS057/Staff Information/dist/
/1MV16CS057/StudentManagementTest/nbproject/private/
/1MV16CS057/StudentManagementTest/build/
/1MV16CS057/StudentManagementTest/dist/
/1MV16CS057/AdsTest/nbproject/private/
/1MV16CS057/PhpProject1/nbproject/private/
/1MV16CS057/PhpProject2/nbproject/private/
/1MV16CS057/WebApplication1/nbproject/private/
/1MV16CS057/WebApplication1/build/
/1MV16CS057/WebApplication2/nbproject/private/
/1MV16CS057/WebApplication2/build/