<!-- Created by Abhijeet Singh -->
<!-- admin_home.html -->
{% extends "base.html" %}
{% block title %}Admin Home{% endblock %}
{% block body %}
<div class="container">
  <!-- Split button -->
  <div class="col-md-12 btn-group">
    <button type="button" class="btn">Action</button>
    <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{{ url_for('admin_create1') }}">Create Entry</a>
      <a class="dropdown-item" href="#">Read Database</a>
      <a class="dropdown-item" href="#">Update Database</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Delete Entry</a>
    </div>
  </div>

  <hr>
  <!-- Split button -->
  <div class="col-md-12 btn-group">
        <button type="button" class="btn">Select table to create entry</button>
        <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{ url_for('admin_create2') }}">student</a>
          <a class="dropdown-item" href="#">teacher</a>
          <a class="dropdown-item" href="#">local_guardian</a>
          <a class="dropdown-item" href="#">course_info</a>
        </div>
  </div>
</div> <!-- container -->
{% endblock %}