<!-- Created by Abhijeet Singh -->
<!-- staff_home.html -->
{% extends "base.html" %}
{% block title %}Staff Home{% endblock %}
{% block body %}
<div class="container">
  <table class="table table-bordered table-hover table-responsive">
    <caption>Mr. John Doe</caption>
    <thead>
      <tr>
        <th scope="col">Day</th>
        <th scope="col">9:00-9:55</th>
        <th scope="col">9:55-10:50</th>
        <th scope="col">Tea Break</th>
        <th scope="col">11:00-11:55</th>
        <th scope="col">11:55-12:50</th>
        <th scope="col">Lunch Break</th>
        <th scope="col">01:35-02:30</th>
        <th scope="col">02:30-03:25</th>
        <th scope="col">03:25-04:20</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Monday</th>
        <td>1A</td>
        <td>5C</td>
        <td></td>
        <td></td>
        <td>3D</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Tuesday</th>
        <td>5B</td>
        <td></td>
        <td></td>
        <td>1A</td>
        <td>7A</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Wednesday</th>
        <td>1B</td>
        <td>7A</td>
        <td></td>
        <td>3C</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Thursday</th>
        <td>3B</td>
        <td>5A</td>
        <td></td>
        <td>1D</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Friday</th>
        <td>3B</td>
        <td>5A</td>
        <td></td>
        <td>1A</td>
        <td>5B</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Saturday</th>
        <td>3C</td>
        <td>1D</td>
        <td></td>
        <td></td>
        <td>2A</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div> <!-- container -->
{% endblock %}