<!-- Created by Abhijeet Singh -->
<!-- student_home.html -->
{% extends "base.html" %}
{% block title %}Student Home{% endblock %}
{% block body %}
<div class="container">
  <table class="table table-bordered table-hover">
    <caption>5A</caption>
    <thead>
      <tr>
        <th scope="col">Day</th>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Monday</th>
        <td>Closed</td>
        <td>Open</td>
        <td>Open</td>
        <td>Closed</td>
        <td>Closed</td>
      </tr>
      <tr>
        <th scope="row">Tuesday</th>
        <td>Open</td>
        <td>Open</td>
        <td>Closed</td>
        <td>Closed</td>
        <td>Closed</td>
      </tr>
      <tr>
        <th scope="row">Wednesday</th>
        <td>Open</td>
        <td>Open</td>
        <td>Open</td>
        <td>Closed</td>
        <td>Closed</td>
      </tr>
      <tr>
        <th scope="row">Thursday</th>
        <td>Closed</td>
        <td>Closed</td>
        <td>Closed</td>
        <td>Open</td>
        <td>Open</td>
      </tr>
      <tr>
        <th scope="row">Friday</th>
        <td>Closed</td>
        <td>Closed</td>
        <td>Closed</td>
        <td>Open</td>
        <td>Open</td>
      </tr>
      <tr>
        <th scope="row">Saturday</th>
        <td>Closed</td>
        <td>Closed</td>
        <td>Closed</td>
        <td>Open</td>
        <td>Open</td>
      </tr>
    </tbody>
  </table>
</div> <!-- container -->>
{% endblock %}