<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

    <display-name>BookMyShow</display-name>
    
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.servlet.RegisterServlet</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
 
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
 	
 	<servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.servlet.LoginServlet</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>successReg</servlet-name>
        <servlet-class>com.servlet.LoginServlet</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>successReg</servlet-name>
        <url-pattern>/successReg</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>errorLogin</servlet-name>
        <servlet-class>com.servlet.LoginServlet</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>errorLogin</servlet-name>
        <url-pattern>/errorLogin</url-pattern>
    </servlet-mapping>
 	
 	 <servlet>
        <servlet-name>bookingForm</servlet-name>
        <servlet-class>com.servlet.Booking</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>bookingForm</servlet-name>
        <url-pattern>/bookingForm</url-pattern>
    </servlet-mapping>
 	 	
</web-app>